*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    background: linear-gradient(to left bottom, #34859e, #b9b71a) fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    font-family: sans-serif, 'Courier New', Courier, monospace;
    line-height: 1.5;
}
.container-1{
    max-width: 500px;
    width: 80%;
    margin: 5% auto;
    padding: 30px 60px;
    box-sizing: border-box;
    box-shadow: black 0px 3px 8px;
    border-radius: 5px;
    background: linear-gradient(to right, #185d83, #1b9478);
    color: white;
}

.regis-authentic-form{
    box-sizing: border-box;
    display: grid;
    grid-gap: 14px;
}
.form-head{
    text-decoration: underline aqua;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0 30px 0;
}
.regis-authentic-form label{
    font-size: 1rem;
}
.regis-authentic-form input{
    width: 100%;
    margin-top: 5px;
    border: none;
    border: 1px solid aqua;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 6px;
    padding: 10px 15px;
}
.regis-authentic-form input:focus{
    outline: none;
    box-shadow: 2px -1px 37px 0px rgba(0,255,255,0.75);
}
.regis-authentic-form > button{
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;  
    background: linear-gradient(to right, #0899e7, #0be9b5);  
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
}
.regis-authentic-form > button:hover{
    box-shadow: 2px -1px 37px 0px #0be9b5;
}
.common-hr{
    border-bottom: none;    
    border: 1px solid gold;
}
.container-2{
    max-width: 800px;
    width: 90%;
    margin: 5% auto;
    padding: 30px 60px;
    box-sizing: border-box;
    box-shadow: black 0px 3px 8px;
    border-radius: 5px;
    background: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgb(9, 116, 92) 0%, rgb(7, 107, 40) 90% );
    color: white;
}
.custom-hr{
    border-bottom: none;
    border: 1px solid #d7d8e1;
}
.header{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0 30px 0;
    box-sizing: border-box;
}
.header-para{
    font-size: 20px;
    font-weight: 400;
}
.con-2-form{
    padding-top: 30px; 
}
.con-2-form label{
    font-size: 20px;
    
}
.dv{
    padding-bottom: 50px;
    box-sizing: border-box;
}
.con-2-form input, select{
    padding: 0.625em;
    border: none;
    font-size: 15px;
    margin-right: 7px;
    border: 3px solid rgb(13, 223, 104);
    border-radius: 6px;
    box-sizing: border-box;
}
.con-2-form input:focus,
.con-2-form select:focus{
    box-shadow: 2px -1px 37px 0px rgb(8, 230, 156);
}
.con-2-form select{
    background-color: white;
    padding-right: 20px;
}
.m-t{
    margin-top: 30px;
}
.con-2-form input:focus{
    outline: none;
}
.w-50{
    width: 50%;
}
.head-name{
    display: flex;
    flex-wrap: wrap;
}
.m-b{
    margin-bottom: 10px;
}
.flexible{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flexible-new{
    display: flex;
    justify-content: space-between;
}
.w-100{
    width: 100%;
}
.d-f{
    display: flex;
    justify-content: flex-end;
}
.last-btn{
    padding: 15px 25px;
    font-size: 1.2rem;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgb(24, 216, 174) 0%, rgb(5, 235, 82) 90% );
}
.last-btn:hover{
    box-shadow: 2px -1px 37px 0px rgb(5, 235, 82);
}
.cs-w{
    width: 250px;
}
